<div class="left-column">
    
    <img src="/img/DiaryLogo.png" alt="" class="card-img-top">
  
    <div class="card-body text-center ">
        <img src="/feed/{{fName}} {{lName}}.jpg" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">
        <h5 class="card-title">{{fName}} {{lName}}</h5>
        <p class="text-dark text-decoration-none"><strong>Biography</strong></p>
        <p class="card-text text-center mb-2">{{bio}}</p>
        <ul class="nav justify-content-center">
           
        </ul>

    </div>
</div>
